<div class="footer-section">
    <div class="footer-container">
        <div>
            <h4>live stream</h4><br>
            <p>Sundays</p>
            <span><a href>10:00 am (MST)</a></span>
        </div>
        <div>
            <h4>contact us</h4><br>
            <p>127 - 2 Avenue SE</p>
            <p>Calgary, AB, Canada</p>
            <p>T2G 0B2</p>
            <br>
            <p>P 403.263.6059</p>
            <p>F 403.261.8684</p>
            <br>
            <span><a href>calgarycpc@gmail.com</a></span>
        </div>
        <div id="quicklinks">
            <h4>quicklinks</h4><br>
            <span><a href>ABOUT US</a></span>
            <span><a href>MINISTRIES</a></span>
            <span><a href>SERMONS</a></span>
        </div>
        <div>
            <h4>stay connected</h4><br>
        </div>
    </div>
</div>