<app-nav-bar class="navbar-section"></app-nav-bar>
<div class="picture-flex">
  <img src="../assets/images/main_home.gif">
</div>

<div class="main-text">
    <h4>Here at CCPC, our mission is simply to help people know Jesus and cultivate a life-altering relationship with Him</h4>
    <p>
      It does not matter who you are, where you've been, or what you've done. You matter to God and we are so glad you're here. 
      Calgary Chinese Pentacostal Church is located in Calgary, Chinatown and is made up of real people, living real lives, making mistakes,
      doing the best we can while experiencing the joy of knowing Jesus Chris and helping others do the same.
    </p>
</div>

<app-quicklinks></app-quicklinks>
<app-footer></app-footer>