* {
    width: 100%;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.navbar-section {
    position: fixed;
    width: 100%;
}

.main-text {
    margin: auto;
    max-width: 850px;
}

.main-text h4 { 
    // Text
    font-family: Titillium-BoldItalic;
    font-size: 28px;
    line-height: 110%;
    color: #666666;

    // Structuring
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.main-text p {
    // Text
    font-family: Titillium;
    font-size: 16px;
    line-height: 125%;
    color: #666666;

    // Structuring
    margin-top: 10px;
}