.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    color: black;
    background: linear-gradient(to bottom, rgb(255, 255, 255, 1), rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 0));
    padding-bottom: 15px;

    a {
        text-decoration: none;
        margin: 0 10px;
    }
    a:visited {
        color: black;
    }
    a:hover {
        color: red;
        transition: 0.7s;
    }
}