/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Cairo;
    src: url(assets/fonts/Cairo-Regular.ttf)
}

@font-face {
    font-family: Cairo-SemiBold;
    src: url(assets/fonts/Cairo-SemiBold.ttf)
}

@font-face {
    font-family: Titillium-BoldItalic;
    src: url(assets/fonts/TitilliumWeb-BoldItalic.ttf)
}

@font-face {
    font-family: Titillium;
    src: url(assets/fonts/TitilliumWeb-Regular.ttf)
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  Cairo;
}